@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pattaya&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
	body {
		@apply bg-black text-white;
		font-family: "Inter", serif;
	}

	.hide-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
		overflow: hidden;
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}
}
